<div id='signup'>
  <h1>Sign up</h1>
  <form name="signupForm" ng-submit='signup()' ng-controller='AuthController'>
    Username: <input type='text' name='username' ng-model='user.username' ng-pattern='word' required ng-trim='false'>
      <span class='error' ng-show='signupForm.username.$error.pattern'>Single word only!</span>
      <br>
    Password: <input type="password" name = 'password' ng-model='user.password' required ng-trim = 'false'>
    <button>Sign up</button>
  </form>
  <a href="#/signin">Already have an account? <b>Sign in</b> ...</a>
</div>
